.input__wrapper {
  display: flex;
  border-bottom: 1px solid #D9D9D9;
  align-items: center;
  gap: 1.3rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  position: relative;

  &.-errored {
    border-color: #F00;
  }
}

.input {
  border: none;
  width: 100%;
  color: #4C4C4C;
  font-family: Ubuntu;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;

  &:focus {
    outline: none;
  }
}

.input__icon {
  flex-shrink: 0;
}

.input__error-msg {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #F00;
  font-family: Ubuntu;
  font-size: 0.75rem;
  font-weight: 300;
  transform: translateY(100%);
}