@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Neucha&family=Rubik:wght@500&family=Ubuntu:wght@300;400;500&display=swap');

@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src:
    local(''),
    url('/fonts/PTSans-Narrow.woff2') format('woff2'),
    url('/fonts/PTSans-Narrow.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
